cat <<'EOF' | oc apply -f -
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: {{ microshift_image_lvms_pvc_name }} 
spec:
  accessModes:
  - {{ microshift_image_lvms_pvc_access_modes }}
  resources:
    requests:
      storage: {{ microshift_image_lvms_pvc_storage }}
---
apiVersion: v1
kind: Pod
metadata:
  name: {{ microshift_image_lvms_pod_name }}
spec:
  containers:
  - name: {{ microshift_image_lvms_pod_containers.name }}
    image: {{ microshift_image_lvms_pod_containers.image }}
    command: {{ microshift_image_lvms_pod_containers.command }}
    args: {{ microshift_image_lvms_pod_containers.args }}
    volumeMounts:
    - mountPath: {{ microshift_image_lvms_pod_containers.volumeMounts.mountPath }}
      name: {{ microshift_image_lvms_pod_containers.volumeMounts.name }}
  volumes:
    - name: {{ microshift_image_lvms_pod_volumes.name }}
      persistentVolumeClaim:
        claimName: {{ microshift_image_lvms_pod_volumes.claimName }}
EOF